---
title: "Dataset of the Week #1: The Weather in Philadelphia"
author: "Nina Lawson"
date: 1/28/26
categories:
  - DOW
  - weather
---

### My post

In [3]:
import pandas as pd

In [5]:
weather_df = pd.read_csv('data/philadelphia_weather_2005_to_2025.csv')

In [6]:
weather_df.head()

,day,year,high,low,rain,snow,date,day_num,month_num,dow,dow_name,month
0,January 1,2005,64,39,0.00,0.0,2005-01-01,1,1,5,Saturday,January
1,January 2,2005,47,33,0.01,0.0,2005-01-02,2,1,6,Sunday,January
2,January 3,2005,57,40,0.06,0.0,2005-01-03,3,1,0,Monday,January
3,January 4,2005,55,44,0.00,0.0,2005-01-04,4,1,1,Tuesday,January
4,January 5,2005,47,36,0.62,0.0,2005-01-05,5,1,2,Wednesday,January